@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Выравнивание текста</title>
</head>
<body>
    <center>
        <img src="~/css/1.png" align="top" height="90px">
    </center>
    <h1 align="center"><font color="maroon">НА СТРАЖЕ ЗДОРОВЫХ УЛЫБОК</h1>
    <br>
    <br>
    <br>
    <br>
    <table>
        <tr><th><img src="~/css/1.2.png" align="top" height="380px"></th>
            <th>
                <div style="padding: 20px 10px 15px 50px;">
                    <h1 align="left"><font color="#376db4">О НАС</h1>
                    <p align="left"><font color="black">
                    МИНТ — это современная стоматологическая клиника для всей семьи.

                    Мы очень ценим ваше спокойствие и уверены, что у нас вы поменяете свое отношение к стоматологам. Лечение без страха возможно, главное найти правильный подход и выбрать оптимальные средства.

                    Комфорт пациента очень важен для нас, мы сделаем ваш визит максимально приятным: в нашей уютной зоне ожидания доступен Wi-Fi, игрушки и мультики для ваших детей, полезная информация о новинках в сфере стоматологии и ухода за зубами. Расслабляющая музыка или любимая передача — мы сделаем все, чтобы вам было комфортно в нашей компании.
                    </p>
                </div>
            </th>
       </tr>
    </table>
</body>
</html>
